
@import "../../styles/mixin.scss";
@import "../../styles/reset.scss";

.footer{
    width: 100%;
    &__top{
        height: 200px;
        @include wrapper;
        margin-bottom: 5em;
    }
    &__bottom{
        background-color: $black1;
        padding: 10px 0;
        text-align: center;
        & span{

            @include smallText;
            font-weight: 400;
            color: $gray6;
            height: 50px;
            opacity: 60%;
        
        }
    }
}

.grid{
    margin-top: 2em;
    &__component{

        & li:first-child{
            @include regularText;
            color: $gray2;
            margin-bottom: 1.5em;
        }
        & li{
            @include smallText;
            margin-bottom: 0.5em;
            & a{
                color: $gray1;
            }

        }

        &--payment{
            width: 32px;
            height: 22px;
            margin-right: 5px;
        }

        &--contact{
            width: 25px;
            height: 15px;
            margin-right: 5px;
        }
        
    }
}
.social{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__icons{
        margin-top: 1em;
        display: inline-flex;
        display: flex;
        justify-content: space-between;
        &--facebook{
            @include social_icons;
            
            &:hover{
                background-color: $facebook_bg;
                color:$white;
            }
        }
        &--instagram{
            @include social_icons;
            &:hover{
                background:  linear-gradient(45deg, #f58529, #e1306c);
                color:$white;
            }
        }
        &--twitter{
            @include social_icons; 
            &:hover{
                color: $twitter_bg;
            }
        }
    }
    &__logo{
        margin-left: -2em;
    }
}

.newsletter{
    @include wrapper;
    margin-bottom: 4em;
}

.horizontal-line{
    @include horizontal-line;
}